* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    size-adjust: auto;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #faf8f5;
    color: #111;
    size-adjust: auto;
  }
  
  .draggable-elements {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }
  .draggable {
    height: 12rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
  }
  .draggable:hover {
    opacity: 0.5;
  }
  .droppable {
    height: 8rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* align-items: ; */
    flex-direction: column-reverse;
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    background-color: #fff;
    background-position: center;
    background-size: 6rem 10rem;
    border: 3px dashed #111;
    background-repeat: no-repeat;
    /* transition: border-width 0.2s, transform 0.2s, background-color 0.4s; */
    /* cursor: default; */
  }
  .droppable span {
    font-size: 1.25rem;
    background-attachment: fixed;
    text-align: center;
    pointer-events: none; /* The element is never the target of pointer events */
  }
  
  /* Drag and Drop Related Styling */
  
  .droppable.droppable-hover {
    /* background-color: #bee3f0; */
    border-width: 5px;
    /* transform: scale(1.1); */
  }
  .droppable.dropped {
    border-style: solid;
    color: #111;
  }
  .droppable.dropped span {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .droppable.dropped img {
    pointer-events: none;
  }
  .draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: move;
  }
  .draggable.dragged:hover {
    opacity: 0.1;
  }

    /* Game Related Styling */
  .score {
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 1rem;
    position: relative;
    transition: opacity 0.2s;
  }
  #play-again-btn {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    margin-left: -50px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #111;
      border: 5px double #fff; 
      border-radius: 14px;
      padding: 8px 10px;  
    outline: none;
    letter-spacing: .05em;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
  }
  #play-again-btn:hover {
    background-color: #333;
  }
  #play-again-btn:active {
    background-color: #555;
  }
  #play-again-btn.play-again-btn-entrance {
    opacity: 1;
    transform: translateX(6rem);
  }
  
  @media (max-width: 600px) {
    html { font-size: 14px; }
    .draggable-elements { margin: 1.5rem; }
    #play-again-btn { top: -0.4rem; }
    #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
  }
  .container{
		margin-top: 300px;
		margin-bottom: 3px;
		padding-top: 3000px;
		padding-bottom: 3px;
}

  